@import url('https://db.onlinewebfonts.com/c/b1e31a1d280949f471da840203e74668?family=Kabob+Regular');

@font-face {
    font-family: 'kabob';
    font-style: normal;
    font-weight: normal;
    src: local('Kabob'), url('../Kabob.ttf') format('truetype');
}

* {
    text-decoration: none;
    font-family: 'kabob';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

/* ////navbar */
.navbar-logo {
    height: 45PX;
    width: fit-content;
    transition: height 0.3s ease;
}

.nav-cn-bg-main {
    width: 100%;
    position: fixed;
    z-index: 5;
    color: #ffffffcc;
}

.navbar-cn-bg-main {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.navbar-cn-bg-main-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    height: 100%;
}

.BgColour {
    background-color: rgba(49, 48, 48, 0.692);
}

.menu-nav-cn {
    font-weight: bolder;
    letter-spacing: 0.1666666667em;
    font-size: 1rem;
    line-height: 2;
    text-transform: uppercase;
    position: relative;
    border: none;
    color: inherit;
}


/* /////////////////// */
.overlay {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    overflow-y: hidden;
    transition: 0.5s;
}

.close-form-nys-cn {
    padding: 20px;
    background-color: #002147;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
}

.over-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    background-color: #bbe06c;
}

.over-header a {
    font-size: 40px;
    color: #002147;
}

.overlay .closebtn {
    text-decoration: none;
    position: absolute;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



/* //////drawer */
.drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 696px;
    overflow-y: auto;
    background-color: rgba(49, 48, 48, 0.521);
    backdrop-filter: blur(8px);
    transition: transform 0.8s ease;
    z-index: 1020;
    display: flex;
    justify-content: center;
}

.drawer-left {
    left: -696px;
    transform: translateX(-696px);
}

.drawer.show {
    transform: translateX(696px);
}

.drawer-header {
    height: 5%;
    padding: 1rem 5rem;
}

.drawer-body {
    padding: 1rem;
    height: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.drawer-content-scrollable {
    max-height: 100%;
    overflow-y: auto;
    width: 80%;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 48, 48, 0.219);
    backdrop-filter: blur(0.1px);
    z-index: 1010;
}

.menu-text-nys-cn {
    z-index: 9999;
}



/* FOOTERRRRRRRRRRRRRRRRRRRRR */
.footer a {
    color: #ffff;
    padding: 10px;
}

.footer-section {
    background: #F8C723;
    color: #000;

}

.footer-cta {
    border-bottom: 1px solid #373636;
    padding-bottom: 8px !important;
}

.footer-hr {
    padding-bottom: 8px !important;
}

.single-cta .i {
    color: red;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #000000;
    font-size: 15px;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo img {
    max-width: 120px;
}


.footer-text p {
    font-size: 14px;
    color: #000000;
}

.footer-social-icon span {
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "kabob ";
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #000000;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon .custom-icon {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.footer-widget-heading h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: red;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: red;
}

.footer-widget ul li a {
    color: #000000;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #000000;
    border: 1px solid #2e2e2e;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: red;
    padding: 13px 20px;
    border: 1px solid red;
    top: 0;
}

.subscribe-form button .i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #002147;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #000000;
}

.copyright-text p a {
    color: red;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: red;
}

.footer-menu li a {
    font-size: 14px;
    color: #000000;
}

.footer-cta .row .col-xl-4:nth-child(1) .single-cta .i {
    position: absolute;
    color: red;
}

.footer-cta .row .col-xl-4:nth-child(1) .single-cta .cta-text {
    padding-left: 32px;
}

.footer-social-icon .social_icon {
    text-align: left;
}

.footer-social-icon .social_icon li {
    float: inherit !important;
    display: inline-block !important;
    width: inherit;
}

.footer-social-icon .social_icon li a .i {
    font-size: 15px;
    line-height: 39px;
}

.footer-social-icon .social_icon li a {
    width: 40px;
    height: 40px;
}

.social_icon {
    display: flex;
    text-align: right;
    margin: 0;
    margin-top: 3px;
}

.social_icon li {
    display: inline-block;
    margin: 0 5px;
}

.social_icon li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
}




/* /////////////// */


:root {
    --ligthgreen: #bbe06c;
    --darkgreen: #7db855be;
}

.form-body-cn {
    font-family: "kabob";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;


    .container {
        background-color: var(--ligthgreen);
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        width: 1050px;
        height: 750px;
        max-width: 100%;
        box-shadow: 5px 5px 10px 0px grey;
        padding: 50px 0px;
        text-align: center;
        transition: transform 0.6s ease-in-out;
    }

    .container p {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.3px;
    }

    .forgetpass {
        margin-top: 20px;
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }

    button {
        font-size: 12px;
        padding: 10px;
        width: 95px;
        height: 40px;
        border-radius: 15px;
        background: #000;
        color: white;
        margin: 20px 0px;
        border: none;
        cursor: pointer;
    }

    h1 {
        font-size: 24px;
    }

    .container button.hidden {
        background-color: transparent;
        color: black;
    }

    .icons .icon-form {
        margin: 10px 3px 20px 3px;
    }

    .container form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 0 40px;
    }

    input {
        width: 100%;
        height: 40px;
        padding: 10px;
        border-radius: 15px;
        font-size: 14px;
        margin: 10px 0px;
        outline: none;
        border: 2px solid white;
    }

    .passdiv {
        width: 100%;
        height: 43px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        margin: 10px 0;
    }

    .passdiv .show-hide {
        padding-right: 15px;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .form_container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign_in {
        left: 0;
        width: 50%;
        z-index: 1;
    }

    .container.active .sign_in {
        transform: translateX(100%);
        opacity: 0;
    }

    .sign_up {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    .container.active .sign_up {
        transform: translateX(100%);
        opacity: 1;
        z-index: 1;
        animation: move 0.6s;
    }

    .text {
        display: none;
        padding: 0px 2px;
        color: brown;
    }

    @keyframes move {

        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 1;
        }
    }

    .toggle_container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 130px 0 0 130px;
        z-index: 5;
    }

    .container.active .toggle_container {
        transform: translateX(-100%);
        border-radius: 0 130px 130px 0;
    }

    .toggle {
        background-color: var(--darkgreen);
        height: 100%;
        color: #fff;
        position: relative;
        left: -100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }

    .toggle p {
        padding-top: 20px;
    }

    .container.active .toggle {
        transform: translateX(50%);
    }

    .toggle_panel {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }

    .toggle_left {
        transform: translateX(-200%);
    }

    .container.active .toggle_left {
        transform: translateX(0);
    }

    .toggle_right {
        right: 0;
        transform: translateX(0);
    }

    .container.active .toggle_right {
        transform: translateX(200%);
    }

    @media (max-width: 868px) {
        .container {
            width: 80%;
            height: 370px;
        }
    }
}